@import "../../../styles/utils/variables";

.form {

    form {

        display: flex;
        flex-wrap: wrap;

        input, textarea {
            border: 1px solid #524c90;
            background: none;
            color: #fff;
            padding: 13px 18px;
            margin-bottom: 30px;
            flex-basis: 100%;
            font-family: $primary-font-family;
    
            &::placeholder {
                color: #fff;
            }

            &:nth-child(1) {
                flex-basis: 47%;

                @include breakpoint(md) {
                    flex-basis: 100%;
                }
            }
            &:nth-child(2) {
                flex-basis: 47%;
                margin-left: auto;

                @include breakpoint(md) {
                    flex-basis: 100%;
                }
            }

        }

        textarea {
            min-height: 196px;
        }

        button[type="submit"] {
            background: #1c68ff;
            color: #fff;
            border: 0;
            font-family: $primary-font-family;
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-left: auto;
            padding: 13px 50px;
            cursor: pointer;
        }
    }
 
   
}