@import "../../styles/utils/variables";

.indexSlider {
  position: relative;

  &__item {
    display: flex!important;

    @include breakpoint(md) {
      flex-direction: column;
    }
  }

  &__media {
    flex-basis: 55.26%;
    background: #212453;
  }

  &__content {
    flex-basis: 44.74%;
    display: flex;
    align-items: center;
  }

  &__contentInner {
    padding: 40px 80px 60px 80px;

    @include breakpoint(md) {
      padding: 40px 20px 60px 20px;
    }
    
    h2 {
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 1.27;
      color: #333;
      margin: 0 0 38px 0;

      @include breakpoint(lg) {
        font-size: 2.6rem;
        margin: 0 0 18px 0;
      }
    }

    p {
      @include breakpoint(lg) {
        font-size: 1.4rem;
      }
    }
  }
}

.nextArrow {
  position: absolute;
  right: 44.74%;
  transform: translateX(130px);
  bottom: 0;
  width: 130px;
  height: 70px;
  background: #212453;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;

  @include breakpoint(md) {
    right: 0;
    transform: translateX(0);
    width: 80px;
    height: 40px;
  }

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: '';
    background: url(./img/arrow.png) no-repeat;
    width: 31px;
    height: 20px;
    display: block;
    transform: rotate(180deg);
    margin-left: 20px;
  }
}

.prevArrow {
  position: absolute;
  left: 55.26%;
  transform: translateX(-130px);
  bottom: 0;
  width: 130px;
  height: 70px;
  background: #212453;
  cursor: pointer;
  z-index: 2;
  display: flex;
  align-items: center;

  @include breakpoint(md) {
    left: auto;
    right: 80px;
    transform: translateX(0);
    width: 80px;
    height: 40px;
  }

  &:hover {
    opacity: 0.8;
  }

  &::before {
    content: '';
    background: url(./img/arrow.png) no-repeat;
    width: 31px;
    height: 20px;
    display: block;
    margin-right: 20px;
    margin-left: auto;
  }
}