@import "./utils/variables";


.offer {
    padding: 80px 0 130px 0;
    background: #f7f7f7;

    @include breakpoint(md) {
        padding: 30px 0 38px 0;
    }
}

.aboutSlider {
    background: #f7f7f7;
    padding: 113px 0 122px 0;

    @include breakpoint(md) {
        padding: 50px 0;
    }
}