
@import 'utils/fonts';
@import 'utils/reset';
@import 'utils/variables';
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";


html {
  font-size: 62.5%;  /* 10px */
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

body {
  font-family: $primary-font-family;
  font-size: 1.7rem;
  line-height: 1.9;
  background: $bg-global;
  color: $black;
}

a {
  color: $links-global;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1740px;
  margin: 0 auto;
  padding: 0 10px; 

  &__brands {
      padding: 73px 0 13px 0;

      @include breakpoint(md) {
          padding: 23px 0 0 0;
      }
  }

  &__inner {
    max-width: 1190px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
  }
}

.headerBottom {
  background: #4923b7;
  padding: 154px 0 60px 0;
  min-height: 522px;

  @include breakpoint(md) {
    padding: 80px 0;
    min-height: auto;
  }


  &__title {
    font-size: 7rem;
    font-weight: 500;
    color: #fff;
    margin: 0 0 20px 0;
  }

  &__subtitle {
    font-size: 2.4rem;
    color: #fff;
    line-height: 1.6;
    max-width: 870px;
  }
}

.grid {
  width: calc(100% - 20px);
  margin: 0 10px;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @include breakpoint(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(sm) {
    grid-template-columns: 1fr;
  }

}
.grid-item { 
  height: 450px;
  position: relative;

  @include breakpoint(sm) {
    height: 350px;
  }
}