@import "./utils/variables";

.servicesCatalog {
    padding: 126px 0 80px 0;
    max-width: 1100px;
    margin: 0 auto;
}

.contactServiceWrapper {
    background: #2e1ac0;
    padding: 176px 0 188px 0;

    @include breakpoint(sm) {
        padding: 50px 0;
    }

    &__inner {
        max-width: 1190px;
        padding: 0 10px;
        margin: 0 auto;
    }
}