@import "./utils/variables";

.workWrapper {
    padding: 123px 0 0 0;

    &__cat {
        text-align: center;
        font-size: 2rem;
        color: #333;
        padding: 0 0 20px 0;
    }

    &__title {
        text-align: center;
        font-size: 4rem;
        color: #333;
        text-transform: uppercase;
        font-weight: 600;
        padding: 0 0 43px 0;
    }


}

.workPreambule {

    max-width: 1190px;
    padding: 10px 0;
    margin: 0 auto;
    border-top: 1px solid #f3f3f3;
    padding: 67px 0 120px 0;
    display: flex;
    justify-content: space-between;


    &__left {
        flex-basis: 770px;
    }

    &__right {
        flex-basis: 270px;

        aside {
            ul {
                padding: 6px 0 0 0;

                li {
                    border-bottom: 1px solid #f3f3f3; 
                    padding: 0 0 22px 0;
                    margin: 0 0 23px 0;

                    &:last-child {
                        border: 0;
                    }

                    h4 {
                        color: #333;
                        font-size: 1.5rem;
                        text-transform: uppercase;
                        font-weight: 600;
                        margin: 0 0 6px 0;
                    }

                    p {
                        color: #666;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }

    &__smallDesc {
        font-size: 2.4rem;
        color: #333;
        line-height: 1.666;
        margin: 0 0 45px 0;
    }

    &__longDesc {
        color: #666;
        line-height: 2.0;
    }
}

.workImages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    li {
        img {
            width: 100%;
        }
    }
}

.workPostambule {

    max-width: 1190px;
    padding: 10px 0;
    margin: 0 auto;

    &__title {
        text-align: center;
        font-size: 4rem;
        color: #333;
        font-weight: 700;
        padding: 109px 0 14px 0;
    }

    &__desc {
        text-align: center;
        font-size: 2rem;
        color: #666;
        line-height: 1.8;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 0 20px 0;
    }

    &__mobile {
        background: url(../public/images/work/mobile.png) no-repeat;
        width: 488px;
        height: 788px;
        background-size: cover;
        flex-shrink: 0;
        position: relative;
        margin: 0 0 0 -126px;
        padding: 69px 49px 86px 148px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }

    }

    &__desktop {
        background: url(../public/images/work/desktop.png) no-repeat;
        width: 1066px;
        height: 648px;
        background-size: cover;
        margin: 130px 0 0 -190px;
        flex-shrink: 0;
        padding: 43px 190px 170px 180px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }
    }

    &__content {
        display: flex;
    }
}

.reviewWrapper {
    padding: 53px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__pic {
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__text {
        background: #f8f8f8;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        blockquote {
            text-align: center;
            
            p {
                font-size: 2rem;
                line-height: 1.7;
                color: #3e3e3e;
            }
        }

    }

    &__q {
        background: url(../public/images/work/q.png) no-repeat;
        width: 28px;
        height: 24px;
        display: inline-block;
        margin: 0 0 35px 0;
    }

    &__author {
        color: #666;
        font-size: 1.5rem;
        padding: 42px 0 20px 0;

        &::before {
            content: '';
            width: 34px;
            height: 1px;
            background: #666;
            display: inline-block;
            margin: 0 11px 0 0;
            position: relative;
            top: -4px;
        }
    }

    &__video {
        > div {
            height: 100%;

            > div {
                height: 100%;
            }
        }
    }

}