@import "../../styles/utils/variables";

.blogSlider {
  position: relative;

  &__nextArrow {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 30px;
    height: 40px;
    background: #595959;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  
    &:hover {
      opacity: 0.8;
    }
  
    &::before {
      content: '';
      display: inline-block;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
    }
  }
  
  &__prevArrow {
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 30px;
    height: 40px;
    background: #595959;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  
    &:hover {
      opacity: 0.8;
    }
  
    &::before {
      content: '';
      display: inline-block;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(135deg);
    }
  }

}