@import "../../styles/utils/variables";

.сontactService {
  display: grid;
  grid-template-rows:  auto;
  grid-template-columns: 51.28% auto; /* 3 столбца */

  @include breakpoint(sm) {
    grid-template-columns: auto;
  }


  &__left {
  
  }

  &__content {
    color: #fff;
    padding: 0 15px 0 0;

    @include breakpoint(sm) {
      padding: 0 0 35px 0;
    }

    h2 {
      font-size: 4rem;
      line-height: 1.25;
      font-weight: bold;
      margin: 0 0 41px 0;

      @include breakpoint(sm) {
        font-size: 3rem;
      }
    }

    h3 {
      font-size: 2rem;
      margin: 0 0 44px 0;
    }

  }

  &__right {
    justify-self: end;

    @include breakpoint(sm) {
      justify-self: stretch;
    }
  }

  &__info {
    padding: 0 34px 0 0;
    width: 435px;
    max-width: 100%;

    @include breakpoint(sm) {
      padding: 0;
      width: 100%;
    }
  }

}

.сontactServicePersone {

  &__pic {
    float: left;
    width: 80px;
    height: 80px;
    margin: 4px 30px 0 0;

    img {
      border-radius: 50%;
    }
  }

  &__email {
    font-size: 2rem;
    padding: 0 0 2px 0;
  }

  &__phone {
    font-size: 2.4rem;
    font-weight: bold;
  }
}