@import "../../styles/utils/variables";


.workTabs {
  &__inner {
    max-width: 1190px;
    margin: 0 auto;
  }

}

.workTabsList {
  &__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 27px 15px 0;

    @include breakpoint(md) {
      display: block;
      margin: 0 10px 15px 10px;
    }

    span {
      color: #8f8f8f;
      border: 1px solid #fff;
      display: block;
      font-size: 1.5rem;
      text-transform: uppercase;
      cursor: pointer;
      padding: 0.3em 1.333em;

      &.active, &:hover {
        color: $black;
        border-color: $black;
      }

    }
  }
}

.workTabsContainer {

  &__item {

    &:hover {
      .workTabsContainer__content {
        display: flex;
      }
    }
  }

  &__picture {
    position: relative;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
  }

  &__content {
    background: rgba(#636363, 0.8);
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    align-items: center;
    justify-content: center;
    display: none;
  }


  &__link {
    text-align: center;
  }

  &__linkPic {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $black;
  }

  &__body {
    color: #fff;

    h3 {
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      padding: 52px 0 0 0;

      &::after {
        content: '';
        width: 100px;
        height: 1px;
        background: #fff;
        display: block;
        margin: 12px auto 0 auto;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

}