@import "../../styles/utils/variables";

.logo {
  display: flex;
  align-items: center;

  a {
    font-family: $secondary-font-family;
    font-size: 3.0rem;
    text-transform: uppercase;
    margin: 0 0 0 10px;
    font-weight: 800;

    &:hover {
      text-decoration: none;
    }
  }
}