@import "../../styles/utils/variables";

.logo {
  display: flex;
  align-items: center;

  a {
    font-family: $secondary-font-family;
    font-size: 2.0rem;
    text-transform: uppercase;
    margin: 0 0 0 10px;
    font-weight: 800;
    color: #fff;

    @include breakpoint(md) {
      font-size: 1.0rem;
    }

    &:hover {
      text-decoration: none;
    }
  }
}
.logoHome {
  a {
    color: #1a1c28;
  }
}
