@import "../../styles/utils/variables";

.contactPageForm {
    max-width: 1170px;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 29px 29px 0px;
    padding: 20px 70px 70px 70px;
    display: flex;
    justify-content: space-between;

    @include breakpoint(lg) {
        flex-wrap: wrap;
        padding: 20px;
    }
}

.contactPageFormSidebar {
    flex-basis: 398px;
    margin: -20px -130px 0 0;
    background: #3d60f4;
    color: #fff;
    padding: 23px 60px 20px 70px;

    @include breakpoint(lg) {
        margin-right: -40px;
        margin-left: 10px; 
    }

    @include breakpoint(lg) {
        margin: 0 0 45px 0;
        flex-basis: 100%;
        order: -1;
        padding: 20px;
    }

    &__title {
        font-size: 2.6rem;
        position: relative;
        padding: 0 0 10px 0;

        &::before {
            content: '';
            width: 50px;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        &::after {
            content: '';
            width: 50px;
            height: 1px;
            background: #fff;
            position: absolute;
            left: 60px;
            bottom: 0;
        }

    }

    &__list {
       font-size: 1.5rem;
       line-height: 1.6;
       padding: 28px 0 0 0;
    }

    &__item {
        padding: 0 0 0 30px;
        position: relative;
        margin: 21px 0 23px 0;

        i {
            position: absolute;
            left: 0;
            top: 1px;
        }
    }

    &__name {
        text-transform: uppercase;
    }

    &__social {
        display: flex;
        padding: 50px 0 0 0;
        justify-content: center;

        li {
            margin: 0 9px;

            a {
                color: #fff;
            }
        }
    }

}

.contactPageFormBody {
    flex-basis: 630px; 

    @include breakpoint(lg) {
        flex-basis: 100%;
    }

    &__subtitle {
        font-size: 2.6rem;
        position: relative;
        padding: 0 0 10px 0;
        color: #1c1c1c;
        margin: 0 0 44px 0;

        &::before {
            content: '';
            width: 50px;
            height: 1px;
            background: #1c1c1c;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        &::after {
            content: '';
            width: 50px;
            height: 1px;
            background: #1c1c1c;
            position: absolute;
            left: 60px;
            bottom: 0;
        }
    }
}