.wrapper {

}
.container {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 10px;
    position: relative;
}

.header {
  padding: 34px 0 0 0;
  background: #4923b7;
  color: #fff;

  &__top {
    display: flex;
    width: 100%;
    align-items: center;
  }
}
.headerHome {
  background: #f2f5f9;
  color: #000;
}