@import "../../../styles/utils/variables";

.form {
    

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;

        @include breakpoint(md) {
            display: block;
        }
        
    }

    &__col {
        padding: 0 0 22px 0;

       label {
           display: block;
           color: #878787;
           font-size: 1.4rem;
           padding: 0 0 6px 0;
       }

       input, textarea {
           border: 0;
           border-bottom: 1px solid #d2d2d2;
           color: #333;
           font-size: 1.5rem;
           padding: 10px 0;
           width: 100%;
           resize: none;

           &::placeholder {
            color: #333;
           }
       }

       textarea {
           border: 0;
       }
    }

    &__colArear {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-row-end: 4;
        grid-column-end: 3;
    }

    &__colSubmit {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-row-end: 5;
        grid-column-end: 3;
        text-align: right;
        border-bottom: 1px solid #d2d2d2;

        button {
            background: #000;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            color: #fff;
            border: 0;
            cursor: pointer;
            font-size: 2rem;
        }
    }
    
}