@import "../../styles/utils/variables";

.searchWrapper {

  &__icon {
    cursor: pointer;
  }

  &__holder {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__close {
    color: #000;
    font-size: 3rem;
    position: absolute;
    right: 15px;
    top: 0px;
    cursor: pointer;
  }

  &__form {
    width: 50%;
    margin: 20px;

    form {
      display: flex;
    }

    input {
      border: 1px solid #ccc;
      padding: 15px;
      width: calc(100% - 60px);
    }

    button {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #4923b7;
      color: #fff;
      border: 0;
      cursor: pointer;
      border-radius: 0 4px 4px 0;
      font-size: 2rem;
    }
  }
}