@import "../../styles/utils/variables";


.socialMedia {
  position: absolute;
  right: 60px;
  top: 510px;
  z-index: 10;

  @include breakpoint(md) {
    display: none;
  }

  li {
    margin: 0 0 9px 0;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 38px;
      height: 38px;
      border: 1px solid #fff;
      color: #666;

      &:hover {
        background: #fff;
      }
    }
  }
}